[Unit]
Description=SupBOT
After=syslog.target
After=network.target
After=memcached.service redis.service

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/SupBOT
ExecStart=/usr/bin/bash StartSupBOT.sh
Restart=always
Environment=USER=pi HOME=/home/pi

[Install]
WantedBy=multi-user.target